<div class="col-md-5">
    <h5 class="fw-bold text-success text-center">Stop <%= index %></h5>
        <div class="mb-3">
            <label class="form-label" for="ride_dest_address_attributes_<%= index %>_name">Address Name</label>
            <input type="text"
                name="ride[addresses_attributes][][name]"
                value="<%= address&.name %>"
                class="form-control dest-autocomplete"
                id="ride_dest_address_attributes_<%= index %>_name"
                autocomplete="ride-name">
        </div>
        <div class="mb-3">
            <label class="form-label" for="ride_dest_address_attributes_<%= index %>_street">Street</label>
            <span class="text-danger">*</span>
            <input type="text"
                name="ride[addresses_attributes][][street]"
                value="<%= address&.street %>"
                class="form-control dest-autocomplete"
                id="ride_dest_address_attributes_<%= index %>_street"
                required
                autocomplete="ride-address">
        </div>

        <div class="mb-3">
            <label class="form-label" for="ride_dest_address_attributes_<%= index %>_city">City</label>
            <span class="text-danger">*</span>
            <input type="text"
                name="ride[addresses_attributes][][city]"
                value="<%= address&.city %>"
                class="form-control"
                id="ride_dest_address_attributes_<%= index %>_city"
                required
                autocomplete="ride-city">
        </div>

        <div class="mb-3">
            <label class="form-label" for="ride_dest_address_attributes_<%= index %>_phone">Phone</label>
            <input type="text"
                name="ride[addresses_attributes][][phone]"
                value="<%= address&.phone %>"
                class="form-control"
                id="ride_dest_address_attributes_<%= index %>_phone"
                autocomplete="ride-phone">
        </div>
    </div>